@model IEnumerable<anbardari.tbl_orderProduct>

@{
    Database db = new Database();
    ViewBag.Title = "کالا";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Location = "orderDetails";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h5 class="box-title pull-left">
                    <a href="#" class="btn btn-primary"
                       onclick="reloadIfram('modal-delete-page',location.origin+'/@ViewBag.Location/Create/')"
                       data-toggle="modal" data-target="#modal-delete-page">
                        <i data-toggle="tooltip" data-placement="top" data-original-title="جدید" class="fa fa-plus"></i> @ViewBag.Title جدید
                    </a>
                </h5>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="dataTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.productId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.personId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.number)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.price)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.state)
                            </th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.productId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.personId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.number)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.price)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.state)
                                </td>
                                <td>
                                    <a href="#" onclick="reloadIfram('modal-delete-page',location.origin+'/@ViewBag.Location/edit/@item.Id')" data-toggle="modal" data-target="#modal-delete-page"><i data-toggle="tooltip" data-placement="top" data-original-title="ویرایش" class="fa fa-edit"></i></a> |
                                    <a href="#" onclick="reloadIfram('modal-delete-page',location.origin+'/@ViewBag.Location/delete/@item.Id')" data-toggle="modal" data-target="#modal-delete-page"><i data-toggle="tooltip" data-placement="top" data-original-title="حذف" class="fa fa-remove"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.productId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.personId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.number)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.price)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.state)
                            </th>
                            <th>عملیات</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>